name: Update version

on:
  release:
    types: [published]
  workflow_dispatch: 

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: main 


      - name: Update files
        uses: MathieuSoysal/file-updater-for-release@v1.0.1
        with:
          files: README.md # List of files to update
          prefix: "io.github.sosauce:sweetselect-compose:" 
          with-checkout: false 
      
      - name: Push changes
        uses: EndBug/add-and-commit@v9
        with:
          committer_name: GitHub Actions
          committer_email: actions@github.com
          add: .
          message: 'update files'
